@import "~/styles/variables";

.input {
  padding: 10px;
  width: 200px;
  height: 46px;
  background-color: $input_color;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin: 10px 0;
}

.label {
  color: #fff;
  font-weight: 500;
}
