@import "~/styles/variables";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  position: absolute;
  background-color: $blue;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 65px);
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}

.participants-window {
  min-height: 250px;
  max-height: 300px;
  background-color: $dark_blue;
  border-radius: 20px;
  width: 535px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  margin-bottom: 20px;
  gap: 15px;
  padding: 20px 15px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  align-items: flex-start;
  justify-content: flex-start;

  .peer {
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
    background: $blue;
    border-radius: 10px;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.controls {
  width: 535px;
  display: flex;
  padding-top: 0;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    width: 100%;
    bottom: 50px;
    left: 0;
  }
}

.left-controls {
  display: flex;
  justify-content: space-between;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  background-color: $dark_blue;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.disabled {
  background-color: $grey;
}

.loading {
  color: white;
}
