@import "~/styles/variables";

.button {
  padding: 5px 20px;
  height: 45px;
  width: 200px;
  border-radius: 5px;
  color: $dark_blue;
  border: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.primary {
  background-color: $blue;
}

.secondary {
  background-color: $pink;
}
