@import "~/styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $dark_blue;
  padding: 15px 0;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
}
